

.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 33%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay h1, .overlay h3 {
    color: white;
}

.overlay-content h3 {
	padding-top: 20px;
	font-size: 40px;
}

/*
el overlayyyyy!!!
*/

body {
	background-color: #ccc;
}

.container {
	display: flex;
	width: 760px;
	
}

footer {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

footer h4, footer i {
	padding-top: 0px;
	font-size: 20px;
	letter-spacing: 0px;
}

footer .min {
	font-size: 10px;
	font-weight: 300;
}

.naranja {
	color: #D9571F;
}

.gris {
	color: #6E6462;
}

.azul {
	color: #1B7DC9;
}

#pronostico {
	border-radius: 20px;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.3);
}

#arribaderecha {
	border-top-right-radius: 20px;
}

#abajoderecha {
	border-bottom-right-radius: 20px;
}

.pronosticos {
	display: flex;
	align-items: center;
	text-align: left;
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
} 

#clima-actual {
	background-color: #fff;
	text-align: center;
	width: 380px;
	height: 550px;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.3); 
}

.parts  {
	width: 190px;
	height: 109px;
}

.pronosticos i  {
	margin-left: 50px;
}

.pronosticos > :first-child {
	text-align: right;
}

.numeros {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

h1 {
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	padding-top: 30px;
}

#clima-actual h1 {
	letter-spacing: 5px;
	padding-top: 10px;
	font-weight: 800;
}

#clima-actual {
	border-bottom-left-radius:  20px;
	border-top-left-radius: 20px;
}

img {
	border-top-left-radius: 20px;
}

 i {
	font-size: 34px;
	padding-top: 40px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	font-weight: 500;
	padding-top: 4px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding-top: 10px;
	letter-spacing: 5px;
	color: #ccc;
	text-transform: uppercase;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 15px;
	padding-top: 35px;
	padding-bottom: 35px; 
}

h5 span {
	font-weight: 300;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#temp-act {
	font-size: 60px;
	font-weight: 500;
}