.container, footer, .pronosticos, .numeros {
	display: flex;
}

/* COLORES DE ICONOS */

.naranja {
	color: #D9571F;
}

.gris {
	color: #6E6462;
}

.azul {
	color: #1B7DC9;
}

/* FONT WEIGHTS */

.fw300, h3 {
	font-weight: 300;
}

.fw500, h2, h4 {
	font-weight: 500;
}

.fw800 {
	font-weight: 800;
}

/*  RADIO BORDES  */ 

.radio-arriba-derecha {
	border-top-right-radius: 20px;
}

.radio-abajo-derecha {
	border-bottom-right-radius: 20px;
}

.radio-abajo-izquierda {
	border-bottom-left-radius:  20px;
}

.radio-arriba-izquierda {
	border-top-left-radius: 20px;
}

/* OVERLAY CARGANDO */

.cargando {
	background-color: black;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 100%;
    z-index: 1;
}

.cargando-contenido {
    position: relative;
    text-align: center;
    top: 33%;
}

.cargando h1, .cargando h3 {
    color: white;
    padding-top: 15px;
}

.cargando-contenido h3 {
	font-size: 40px;
}

/* PRINCIPAL */

body {
	background-color: #ccc;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

.container {
	width: 760px;
}

footer {
	justify-content: space-between;
	padding: 0 20px 0 20px;
}

footer h4, footer i {
	font-size: 20px;
	letter-spacing: 0px;
	padding-top: 0px;
}

footer .min {
	font-size: 10px;
}


#pronostico {
	border-radius: 20px;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.3);
}

.pronosticos {
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
} 

#clima-actual {
	background-color: #fff;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.3); 
	height: 550px;
	text-align: center;
	width: 380px;
}

.parts  {
	height: 109px;
	width: 190px;
}

.pronosticos i  {
	margin-left: 50px;
}

.pronosticos > :first-child {
	text-align: right;
}

.numeros {
	align-items: flex-end;
	justify-content: flex-end;
}

#clima-actual h1 {
	letter-spacing: 5px;
	padding-top: 10px;
}

i {
	font-size: 34px;
	padding-top: 40px;
}

h1 {
	font-size: 17px;
	font-weight: 600;	
	letter-spacing: 3px;
	padding-top: 30px;
	text-transform: uppercase;
}

h2 {
	font-size: 34px;
	padding-top: 4px;
}

h3 {
	font-size: 24px;
}

h4 {
	color: #ccc;
	font-size: 15px;
	letter-spacing: 5px;
	padding-top: 10px;
	text-transform: uppercase;
}

h5 {
	font-size: 15px;
	padding-bottom: 35px; 
	padding-top: 35px;
	text-transform: uppercase;
}

h5 span {
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#temp-act {
	font-size: 60px;
}

@media screen and (max-width: 1150px) {
	.container {
		flex-direction: column;
	}
	.pronosticos {
		display: flex;
		flex-direction: column;
		width: 120px;
	}
	.flex2 {
		display: none;
	}
	.flex1 {
		display: flex;
	}
 	#clima-actual, #pronostico {
 		box-shadow: none;
 	}
 	#arribaderecha {
	border-top-right-radius: 0px;
	}
	img {
		border-radius: 0px;
	}
	.parts {
		text-align: center;
	}
	.numeros {
		justify-content: center;	
	}	
	.parts {
		width: 120px;
		text-align: center;
	}
	.pronosticos > :first-child {
		text-align: center;
	}
	#clima-actual {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	.parts i {
		margin-left: 0px;
	}
	i {
		padding-top: 0px;
	}
	.pronosticos > :last-child {
		height: 60px;
	}
	.container {
		width: 360px;
		margin-right: 0px;
	}
	#clima-actual {
		width: 360px;
	}
	#imagen {
		width: 100%;
		border-top-left-radius: 0;
	}
	.radio-arriba-derecha {
		border-top-right-radius: 0
	}
}